apiVersion: v1
kind: ConfigMap
metadata:
  name: {{item.name}}
data: 
  sendReceiveUrl: {{item.sendReceiveUrl}}
  messageSize: "{{item.messageSize}}"
  testDuration: "{{item.testDuration}}"
  testCase: {{item.testCase}}

