[all:vars]
temp_dir=/tmp

[intly_master:vars]
ansible_user=root

[maestro_master:vars]
ansible_user=root

[intly_master]
intly_master.evals.example.com

[maestro_master]
maestro_master.evals.example.com
